version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crypalgos-app
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_BACKEND_URL=${NEXT_PUBLIC_BACKEND_URL}
    networks:
      - crypalgos-network

networks:
  crypalgos-network:
    external: true
